body{
	background-color: #fff1d5;
}
#title{
	font-family: 'Xanh Mono', monospace;
  	font-size: 260px;
  	text-align: center;
	color: black;
	margin: 0;
	padding: 0;
}
#contents{
	text-align: left;
	margin-left: 42vw;
}
.subtitle{
	text-align: center;
	color: black;
	font-family: 'UnifrakturMaguntia', cursive;
	font-size: 36px;
}
a#real-link{
	color: black;
	text-decoration:none;
	font-family: Adobe Jenson Pro, serif;
	font-size: 20px;
}
a#real-link:visited{
	color: black;
	text-decoration:none;
	font-family: Adobe Jenson Pro, serif;
}
a#real-link:hover{
	color: blue;
	text-decoration:none;
	font-family: Adobe Jenson Pro, serif;
}
#prince-regarding{
	width: 10vw;
	margin-left: 42vw;
	align-content: center;
}
#reflect-rose{
	width: 7vw;
	position: absolute;
	margin-left: -4vw;
	margin-top: 1vw;
}